:root{
    --lightOrange: #e99041;
    --orange: #e67e22;
    --blue: #2980b9;
    --lightRed: #ed7669;
    --red: #e74c3c;
}

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f6f6;
}

/*********************header*********************/
header{
    display: grid;
    grid-template-columns: 12.5rem 12.5rem;
    justify-items: center;
    justify-content: center;
    height: 15vh;
    column-gap: 60rem;
}

.header_span_title{
    /* border: 1px solid red; */
    height: fit-content;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    line-height: 2;
    margin-bottom: 30px;
}

.header_span_title::after{
    content: "";
    position: absolute;
    background-color: var(--orange);
    width: 30%;
    height: 3px;
    bottom: 0;
    left: 0;
}

.header_ul_button{
    width: 140%;
}

.header_ul_button li{
    list-style: none;
    /* border: 1px solid red; */
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.header_ul_button li:first-child{
    margin-right: 1rem;
}

.header_ul_button li:last-child{
    color: #fff;
    background-color: var(--lightRed);
}

.header_ul_button li:last-child:hover{
    background-color: var(--red);
    transition: 0.3s ease-in;
}
/*********************header*********************/



/*********************main*********************/
main{
    display: grid;
    grid-template-rows: 25% 75%;
    height: 85vh;
}

.main_title{
}

.main_title_title{
    text-align: center;
    color: #a2a2a2;
    margin-bottom: 1rem;
}

.main_title_description{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;    
}

.main_div_rentSelect{
}

/*********************main*********************/


/*********************car select*********************/

.main_div_rentSelect{
    display: grid;
    grid-template-rows: 80% 20%;

    /* hide the overflow */
    overflow: hidden;

}

.main_rentSelect_card{
    display: flex;
    height: 100%;
    padding: 2rem;
    /* background-color: green; */
    width: 150vw;
    
    /* for translate properties */
    transform: translateX(10%);
    transition: 0.3s ease-in-out;
}

.main_card_car1,
.main_card_car2,
.main_card_car3,
.main_card_car4,
.main_card_car5,
.main_card_car6,
.main_card_car7{
    /* display: inline-block; */
    /* width: 20%; */
    width: 10%;
    height: 100%;
    /* border: 1px solid purple; */
    border-radius: 10px;
    /* background-color: purple; */
    margin-right: 2rem;

}

.main_div_carToggle{
    display: flex;
    width: 100vw;
    gap: 1.5rem;
    justify-content: center;
    /* border: 1px solid red; */
    /* background-color: aqua; */
}

.iconLeft,
.iconRight{
    margin-top: 1rem;
    cursor: pointer;
}
/*********************car select*********************/




/***********************inside card***********************/
.card_property{
    box-shadow: 10px 10px 20px #888888;
}

.main_card_car1{

}

.main_card_imageHolder{
    background-color: #a2a2a2;
    margin: 1rem;
    border-radius: 10px;
}

.main_card_imageHolder img{
    width: 12rem;
    height: 8rem;
}

.main_card_carTitle{
    margin-left: 1rem;
    font-weight: 600;
}

.main_card_price{
    margin-left: 1rem;
    margin-top: 1rem;
}

.price{
    color: var(--orange);
}

.pricePerMonth{
    color: #b3b3b3;
}

.month{
    font-size: 0.8rem;
    color: #b3b3b3;
}

.btnRent{
    margin-top: 1rem;
    width: 80%;
    margin-left: 1.2rem;
    padding: 0.5rem;
    border-radius: 8px;
    outline-style: none;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    background-color: var(--blue);
}
/***********************inside card***********************/
